<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
<div class="container" style="text-align: center">
  <h1 id="scoreText" style="text-align: center">
    Tic Tac Toe
  </h1>
  <div style="font-size: 32px; color:red;font-weight:bold;" id="result"></div>
  <br>
  <button class='btn' onClick="newGame()" data-title="Replay Tic Tac Toe">Replay Tic Tac Toe</button>
  <button class='btn' onClick="resetAll()" data-title="Reset all (game and name)">Reset all (game and name)</button>
  <br>
  <%= form_for :player1, url: "player1", method: :get do |form| %>
    <%= form.label "player 1" %>
    <%= form.text_field :name, value: @p1 %>
    <%= form.submit "Change"  %>
  <% end  %>

  <%= form_for :player2, url: "player2", method: :get do |form| %>
    <%= form.label "player 2" %>
    <%= form.text_field :name, value: @p2 %>
    <%= form.submit "Change"  %>
  <% end  %>
  <br>
  <button class='btn' onClick="endTurn()" data-title="End Turn" id="end_turn">End Turn</button>
  <br>
  <div style="font-size: 26px" id="turn_player"></div>
  <br>
</div>

<%= render(:partial => "pages/game", :formats => :js, :locals => { :name => 'abc' }) %>
